<div id="viewSpace">
    <% switch (centerMode) {case 'users':%>

        <%break;%>
        <%case 'events':%>


        <%break;%>
        <%case 'create:%>


        <%break;%>
        <%case 'admin:%>


        <%break;%>
        <%default:%>

    <% break;} %>
</div>